* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-stretch: condensed;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #1c1b19;
    border-bottom: 4px solid #1c1b19;
    color: #baa67f;
}

tooltip {
    background: #1c1b19;
    border: 1px solid #baa67f;
}

tooltip label {
    color: #baa67f;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #baa67f;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #665c54;
    border-bottom: 3px solid #baa67f;
}

#mode, #clock, #network, #pulseaudio, #tray, #mpd {
    padding: 0 10px;
}

#custom-weather {
    padding: 0 0;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}
